# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Logs
logs/
*.log

# Allure
allure-results/
allure-report/

# Test files
*.txt
!google_maps_api/requirements.txt

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db